<h1>Questions#index</h1>

<ul>
  <% @questions.each do |question| %>
    <li>
      <p><%= link_to question.title, question %></p>
      <p><%= question.content %></p>
      <p><%= question.votes %></p>
      <button><%= link_to "Upvote", upvote_question_path(question.id), method: :post %></button>
      <button><%= link_to "Downvote", downvote_question_path(question.id), method: :post %></button>
    </li>
  <% end %>
</ul>

<p>New Question:</p>
<%= render 'question_form' %>
