<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>

<%= @question.title %>
<%= @question.content %><br>
<%= link_to 'Destroy', question_path(@question),
  method: :delete,
  data: { confirm: 'Are you sure?' } %><br>
<%= link_to 'Edit', edit_question_path(@question) %>

<p>New Answer:</p>
<%= render 'answer_form' %>
