<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>

<%= button_to 'Delete Question', question_path(@question),
  method: :delete,
  data: { confirm: 'Are you sure you want to delete this question and all associated answers?' } %>
<%= button_to 'Edit Question', edit_question_path(@question) %>

<h1><%= @question.title %></h1>
<p><%= @question.content %></p><br>
<p><%= @question.votes %> votes</p>

<h3><%= @question.answers.count %> Answers:</h3>
<p><% @question.answers.each do |answer| %></p>
  <ul>
    <li><h4><%= answer.title %></h4>
      <p><%= answer.content %></p>
      <p><%= answer.votes %> Votes</p>
      <%= button_to "Upvote", upvote_question_answer_path(answer.question, answer), method: :post %>
      <%= button_to "Downvote", downvote_question_answer_path(answer.question, answer), method: :post %>
    </li>
  </ul>
<% end %>

<h3>New Answer:</h3>
<%= render 'answer_form' %>

<%= link_to 'Back', root_path %>
